
// Миксины для заголовков
@mixin heading-light {
  font-family: 'Comfortaa', cursive;
  color: $black-color;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading-dark {
  font-family: 'Comfortaa', cursive;
  color: $white-color;
  font-weight: 700;
  line-height: 1.3;
}

@mixin heading-accent {
  font-family: 'Comfortaa', cursive;
  color: $autumn-color;
  font-weight: 700;
  line-height: 1.3;
}

// Миксины для текста
@mixin text-light {
  font-family: 'IBM Plex', sans-serif;
  color: $gray-color;
  font-weight: 400;
  line-height: 1.6;
}

@mixin text-dark {
  font-family: 'IBM Plex', sans-serif;
  color: $gray-color;
  font-weight: 400;
  line-height: 1.6;
}

@mixin text-accent {
  font-family: 'IBM Plex', sans-serif;
  color: $tobacco-color;
  font-weight: 400;
  line-height: 1.6;
}

// Примеры использования
.hero-title {
  @include heading-light;
  font-size: 2.5rem;
  
  .theme-dark & {
    @include heading-dark;
  }
}

.body-text {
  @include text-light;
  font-size: 1rem;
  
  .theme-dark & {
    @include text-dark;
  }
}

.highlight-text {
  @include text-accent;
}